.sky {
  z-index: 975;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 700px;
  margin: 100px;


}

.cloud_1 {
  @extend %link;
  top: 90px;
  left: 50%;
  animation: neclece_1 5s linear;
}

.cloud_2 {
  @extend %link;
  top: 117px;
  left: 60%;
  animation: neclece_2 ease-in 2s;
}

.cloud_3 {
  @extend %link;
  top: 140px;
  left: 67%;
  animation: neclece_3 ease-in 3s;

}

.cloud_4 {
  @extend %link;
  top: 170px;
  left: 73%;
  animation: neclece_4 ease-in 7000ms;

}

.cloud_5 {
  @extend %link;
  top: 117px;
  left: 37%;
  animation: neclece_5 ease-in 7000ms;
}

.cloud_6 {
  @extend %link;
  top: 200px;
  left: 79%;
  animation: neclece_6 ease-in 5000ms;
}

.cloud_7 {
  @extend %link;
  top: 150px;
  left: 27%;
  animation: neclece_7 ease-in 1500ms;
}

.cloud_8 {
  @extend %link;
  top: 235px;
  left: 83%;
  animation: neclece_8 ease-in 3000ms;

}

.cloud_9 {
  @extend %link;
  top: 190px;
  left: 20%;
  animation: neclece_9 ease-in 1000ms;
}

.cloud_10 {
  @extend %link;
  top: 270px;
  left: 86%;
  animation: neclece_10 ease-in 7000ms;
}

.cloud_11 {
  @extend %link;
  top: 225px;
  left: 16%;
  animation: neclece_11 ease-in 1500ms;

}

.cloud_12 {
  @extend %link;
  top: 305px;
  left: 88%;
  animation: neclece_12 ease-in 3000ms;

}

.cloud_13 {
  @extend %link;
  top: 260px;
  left: 12%;
  animation: neclece_13 ease-in 1000ms;

}

.cloud_14 {
  @extend %link;
  top: 337px;
  left: 89%;
  animation: neclece_14 ease-in 2000ms;

}

.cloud_15 {
  @extend %link;
  top: 295px;
  left: 9%;
  animation: neclece_15 ease-in 1500ms;

}

.cloud_16 {
  @extend %link;
  top: 375px;
  left: 88%;
  animation: neclece_16 ease-in 3000ms;

}

.cloud_17 {
  @extend %link;
  top: 335px;
  left: 7%;
  animation: neclece_17 ease-in 1000ms;

}

.cloud_18 {
  @extend %link;
  top: 410px;
  left: 81%;
  animation: neclece_18 ease-in 5000ms;

}

.cloud_19 {
  @extend %link;
  top: 379px;
  left: 9%;
  animation: neclece_19 ease-in 1500ms;

}

.cloud_20 {
  @extend %link;
  top: 445px;
  left: 73%;
  animation: neclece_20 ease-in 3000ms;

}

.cloud_21 {
  @extend %link;
  top: 420px;
  left: 16%;
  animation: neclece_21 ease-in 1000ms;
}

.cloud_22 {
  @extend %link;
  top: 465px;
  left: 63%;
  animation: neclece_22 ease-in 7000ms;

}

.cloud_23 {
  @extend %link;
  top: 460px;
  left: 25%;
  animation: neclece_23 ease-in 1500ms;

}

.cloud_24 {
  @extend %link;
  top: 485px;
  left: 52%;
  animation: neclece_24 ease-in 3000ms;

}

.cloud_25 {
  @extend %link;
  top: 485px;
  left: 38%;
  animation: neclece_25 ease-in 1000ms;

}


// big

.cloud_26 {
  @extend %link;
  top: 40px;
  left: 50%;
  animation: neclece_1 5s linear;
}

.cloud_27 {
  @extend %link;
  top: 65px;
  left: 35%;
  animation: neclece_2 ease-in 2s;
}

.cloud_28 {
  @extend %link;
  top: 65px;
  left: 65%;
  animation: neclece_3 ease-in 3s;

}

.cloud_29 {
  @extend %link;
  top: 100px;
  left: 23%;
  animation: neclece_4 ease-in 7000ms;

}

.cloud_30 {
  @extend %link;
  top: 101px;
  left: 78%;
  animation: neclece_5 ease-in 7000ms;
}

.cloud_31 {
  @extend %link;
  top: 140px;
  left: 12%;
  animation: neclece_6 ease-in 5000ms;
}

.cloud_32 {
  @extend %link;
  top: 140px;
  left: 87%;
  animation: neclece_7 ease-in 1500ms;
}

.cloud_33 {
  @extend %link;
  top: 187px;
    left: 6%;
  animation: neclece_8 ease-in 3000ms;
}

.cloud_34{
  @extend %link;
  top: 180px;
  left: 95%;
  animation: neclece_9 ease-in 1000ms;
} 

.cloud_35 {
  @extend %link;
  top: 230px;
  left: 0%;
  animation: neclece_10 ease-in 7000ms;
}
 
.cloud_36 {
  @extend %link;
  top: 225px;
  left: 100%;
  animation: neclece_11 ease-in 1500ms;

} 

.cloud_37 {
  @extend %link;
  top: 277px;
  left: -5%;
  animation: neclece_12 ease-in 3000ms;

} 

/* .cloud_13 {
  @extend %link;
  top: 260px;
  left: 12%;
  animation: neclece_13 ease-in 1000ms;

} */

.cloud_39 {
  @extend %link;
  top:320px;
  left: -7%;
  animation: neclece_14 ease-in 2000ms;

}

/* .cloud_15 {
  @extend %link;
  top: 295px;
  left: 10%;
  animation: neclece_15 ease-in 1500ms;

}
 */
.cloud_41{
  @extend %link;
  top: 365px;
  left: -9%;
  animation: neclece_16 ease-in 3000ms;

}
 
/* .cloud_17 {
  @extend %link;
  top: 335px;
  left: 7%;
  animation: neclece_17 ease-in 1000ms;

} */

 .cloud_43 {
  @extend %link;
  top: 410px;
  left: -9%;
  animation: neclece_18 ease-in 5000ms;

}

/* .cloud_19 {
  @extend %link;
  top: 375px;
  left: 6%;
  animation: neclece_19 ease-in 1500ms;

}
 */
.cloud_45 {
  @extend %link;
  top: 455px;
  left: -9%;
  animation: neclece_20 ease-in 3000ms;

}

/* .cloud_21 {
  @extend %link;
  top: 415px;
  left: 6%;
  animation: neclece_21 ease-in 1000ms;
} */

.cloud_47 {
  @extend %link;
  top: 500px;
  left: -9%;
  animation: neclece_20 ease-in 3000ms;

}

/* .cloud_23 {
  @extend %link;
  top: 455px;
  left: 6%;
  animation: neclece_23 ease-in 1500ms;

} */

.cloud_49 {
  @extend %link;
  top: 547px;
  left: -9%;
  animation: neclece_20 ease-in 3000ms;

}

/* .cloud_25 {
  @extend %link;
  top: 495px;
  left: 6%;
  animation: neclece_25 ease-in 1000ms;

} */

.cloud_51 {
  @extend %link;
  top: 593px;
  left: -9%;
  animation: neclece_20 ease-in 3000ms;

}
/* .cloud_27 {
  @extend %link;
  top: 535px;
  left: 6%;
  animation: neclece_27 ease-in 1500ms;

} */

.cloud_53 {
  @extend %link;
  top: 635px;
  left: -9%;
  animation: neclece_20 ease-in 3000ms;

}
/* .cloud_29 {
  @extend %link;
  top: 575px;
  left: 6%;
  animation: neclece_29 ease-in 1000ms;

} */

.cloud_55 {
  @extend %link;
  top: 679px;
  left: -6%;
  animation: neclece_20 ease-in 3000ms;

}


/* .cloud_32 {
  @extend %link;
  top: 610px;
  left: 82%;
  animation: neclece_31 ease-in 5000ms;
}
 */
 .cloud_57 {
  @extend %link;
  top: 723px;
  left: -0%;
  animation: neclece_20 ease-in 3000ms;

}
/* .cloud_34 {
  @extend %link;
  top: 610px;
  left: 82%;
  animation: neclece_31 ease-in 5000ms;
} */

.cloud_59 {
  @extend %link;
  top: 767px;
  left: 7%;
  animation: neclece_20 ease-in 3000ms;

}
/* .cloud_36 {
  @extend %link;
  top: 610px;
  left: 82%;
  animation: neclece_31 ease-in 5000ms;
} */


/* .cloud_37 {
  @extend %link;
  top: 683px;
  left: 62%;
  animation: neclece_37 ease-in 5000ms;

} */

/* .cloud_38 {
  @extend %link;
  top: 645px;
  left: 78%;

  animation: neclece_38 ease-in 5000ms;

}
 */
/* .cloud_39 {
  @extend %link;
  top: 695px;
  left: 53%;
  animation: neclece_39 ease-in 5000ms;

} */

/* .cloud_40 {
  @extend %link;
  top: 700px;
  left: 42%;
  animation: neclece_40 ease-in 5000ms;

} */

/* .cloud_41 {
  @extend %link;
  top: 700px;
  left: 32%;
  animation: neclece_41 ease-in 5000ms;

} */

/* .cloud_42 {
  @extend %link;
  top: 695px;
  left: 22%;
  animation: neclece_42 ease-in 5000ms;

}
 */
/* .cloud_43 {
  @extend %link;
  top: 670px;
  left: 70%;
  animation: neclece_37 ease-in 5000ms;

} */

%link {
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  background: hsla(332, 53%, 82%, 1);

  background: linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);


  scale: (1);


}

//animation

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);

  }

  50% {
    top: 750px;
    left: 0px;
    scale: (2);

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_2 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 550px;
    left: 20px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_3 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 750px;
    left: 40px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_4 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }


  50% {
    top: 500px;
    left: 60px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_5 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 850px;
    left: 80px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_6 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 750px;
    left: 100px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_7 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 650px;
    left: 120px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_8 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 750px;
    left: 140px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_9 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 700px;
    left: 160px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_10 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 850px;
    left: 180px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_11 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }

  50% {
    top: 570px;
    left: 200px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_12 {
  0% {
    top: 0;
    scale: (1);
    opacity: 1;
  }


  50% {
    top: 650px;
    left: 220px;
    scale: (2);
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_13 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 750px;
    left: 240px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_14 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 450px;
    left: 260px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_15 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 950px;
    left: 280px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_16 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 750px;
    left: 300px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_17 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 850px;
    left: 320px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_18 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 700px;
    left: 340px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_19 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 850px;
    left: 360px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_20 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }


  50% {
    top: 950px;
    left: 380px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_21 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }


  50% {
    top: 570px;
    left: 400px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_22 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 750px;
    left: 420px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_23 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 700px;
    left: 440px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_24 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 390px;
    left: 460px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_25 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 700px;
    left: 480px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_26 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 750px;
    left: 500px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_27 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }



  50% {
    top: 850px;
    left: 500px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_28 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 350px;
    left: 520px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_29 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 700px;
    left: 540px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_30 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 750px;
    left: 560px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_31 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 350px;
    left: 580px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_37 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }


  50% {
    top: 850px;
    left: 600px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_38 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }


  50% {
    top: 750px;
    left: 620px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_39 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }



  50% {
    top: 700px;
    left: 640px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_40 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 390px;
    left: 660px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_41 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }



  50% {
    top: 750px;
    left: 680px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}


@keyframes neclece_42 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 950px;
    left: 700px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_43 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }



  50% {
    top: 750px;
    left: 720px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_44 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 450px;
    left: 740px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_45 {
  0% {
    top: 0;
    scale: (1);

  }



  50% {
    top: 750px;
    left: 760px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_46 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 700px;
    left: 780px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_47 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 390px;
    left: 780px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_48 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 900px;
    left: 800px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_49 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 750px;
    left: 820px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_50 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 900px;
    left: 840px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_51 {
  0% {
    top: 0;
    scale: (1);
  }



  50% {
    top: 750px;
    left: 905px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_52 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 350px;
    left: 920px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_53 {
  0% {
    top: 0;
    scale: (1);
  }


  50% {
    top: 750px;
    left: 935px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}