.sky {
  z-index: 975;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  position: relative;
  min-height: 700px;
}


.cloud_1 {
  @extend %link;
  bottom: 200px;
  left: 0px;
  animation: neclece_1 ease-in 1000ms;

}

.cloud_2 {
  @extend %link;
  bottom: 270px;
  left: 15px;
  animation: neclece_2 ease-in 2000ms;

}

.cloud_3 {
  @extend %link;
  bottom: 250px;
  left: 30px;
  animation: neclece_3 ease-in 1500ms;

}

.cloud_4 {
  @extend %link;
  bottom: 100px;
  left: 45px;
  animation: neclece_4 ease-in 3000ms;

}

.cloud_5 {
  @extend %link;
  top: 90px;
  left: 50%;
  animation: neclece_5 5000ms ease-in 7000ms;
}

.cloud_6 {
  @extend %link;
  bottom: 215px;
  left: 75px;
  animation: neclece_6 ease-in 5000ms;
}

.cloud_7 {
  @extend %link;
  bottom: 300px;
  left: 90px;
  animation: neclece_7 ease-in 1500ms;
}

.cloud_8 {
  @extend %link;
  bottom: 250px;
  left: 105px;
  animation: neclece_8 ease-in 3000ms;

}

.cloud_9 {
  @extend %link;
  bottom: 250px;
  left: 150px;
  animation: neclece_9 ease-in 1000ms;
}

.cloud_10 {
  @extend %link;
  bottom: 300px;
  left: 135px;
  animation: neclece_10 ease-in 7000ms;

}

.cloud_11 {
  @extend %link;
  bottom: 250px;
  left: 150px;
  animation: neclece_11 ease-in 1500ms;

}

.cloud_12 {
  @extend %link;
  bottom: 200px;
  left: 165px;
  animation: neclece_12 ease-in 3000ms;

}

.cloud_13 {
  @extend %link;
  bottom: 200px;
  left: 180px;
  animation: neclece_13 ease-in 1000ms;

}

.cloud_14 {
  @extend %link;
  bottom: 270px;
  left: 195px;
  animation: neclece_14 ease-in 2000ms;

}

.cloud_15 {
  @extend %link;
  bottom: 250px;
  left: 210px;
  animation: neclece_15 ease-in 1500ms;

}

.cloud_16 {
  @extend %link;
  bottom: 75px;
  left: 235px;
  animation: neclece_16 ease-in 3000ms;

}

.cloud_17 {
  @extend %link;
  bottom: 250px;
  left: 250px;
  animation: neclece_17 ease-in 1000ms;

}

.cloud_18 {
  @extend %link;
  bottom: 215px;
  left: 275px;
  animation: neclece_18 ease-in 5000ms;

}

.cloud_19 {
  @extend %link;
  bottom: 300px;
  left: 290px;
  animation: neclece_19 ease-in 1500ms;

}

.cloud_20 {
  @extend %link;
  bottom: 250px;
  left: 305px;
  animation: move_2 ease-in 3000ms;

}

.cloud_21 {
  @extend %link;
  bottom: 200px;
  left: 330px;
  animation: move_3 ease-in 1000ms;
}

.cloud_22 {
  @extend %link;
  bottom: 300px;
  left: 345px;
  animation: move_1 ease-in 7000ms;

}

.cloud_23 {
  @extend %link;
  bottom: 250px;
  left: 370px;
  animation: move_2 ease-in 1500ms;

}

.cloud_24 {
  @extend %link;
  bottom: 200px;
  left: 395px;
  animation: move_3 ease-in 3000ms;

}

.cloud_25 {
  @extend %link;
  bottom: 200px;
  left: 410px;
  animation: move_1 ease-in 1000ms;

}

.cloud_26 {
  @extend %link;
  bottom: 270px;
  left: 425px;
  animation: move_2 ease-in 2000ms;

}

.cloud_27 {
  @extend %link;
  bottom: 250px;
  left: 450px;
  animation: move_3 ease-in 1500ms;

}

.cloud_28 {
  @extend %link;
  bottom: 100px;
  left: 465px;
  animation: move_1 ease-in 3000ms;

}

.cloud_29 {
  @extend %link;
  bottom: 250px;
  left: 480px;
  animation: move_2 ease-in 1000ms;

}

.cloud_30 {
  @extend %link;
  bottom: 215px;
  left: 495px;
  animation: move_1 ease-in 5000ms;

}

.cloud_31 {
  @extend %link;
  bottom: 300px;
  left: 510px;
  animation: move_2 ease-in 1500ms;

}

.cloud_32 {
  @extend %link;
  bottom: 250px;
  left: 525px;
  animation: move_3 ease-in 3000ms;

}

.cloud_33 {
  @extend %link;
  bottom: 200px;
  left: 540px;
  animation: move_1 ease-in 1000ms;
}

.cloud_34 {
  @extend %link;
  bottom: 300px;
  left: 555px;
  animation: move_2 ease-in 7000ms;

}

.cloud_35 {
  @extend %link;
  bottom: 200px;
  left: 570px;
  animation: move_3 ease-in 1000ms;

}

.cloud_36 {
  @extend %link;
  bottom: 270px;
  left: 585px;
  animation: move_1 ease-in 2000ms;

}

.cloud_37 {
  @extend %link;
  bottom: 250px;
  left: 600px;
  animation: move_2 ease-in 1500ms;

}

.cloud_38 {
  @extend %link;
  bottom: 75px;
  left: 615px;
  animation: move_3 ease-in 3000ms;

}

.cloud_39 {
  @extend %link;
  bottom: 250px;
  left: 630px;
  animation: move_1 ease-in 1000ms;

}

.cloud_40 {
  @extend %link;
  bottom: 215px;
  left: 645px;
  animation: move_2 ease-in 5000ms;

}

.cloud_41 {
  @extend %link;
  bottom: 300px;
  left: 660px;
  animation: move_3 ease-in 1500ms;

}

.cloud_42 {
  @extend %link;
  bottom: 250px;
  left: 675px;
  animation: move_1 ease-in 3000ms;

}

.cloud_43 {
  @extend %link;
  bottom: 200px;
  left: 690px;
  animation: move_2 ease-in 1000ms;
}

.cloud_44 {
  @extend %link;
  bottom: 300px;
  left: 705px;
  animation: move_3 ease-in 7000ms;

}

.cloud_45 {
  @extend %link;
  bottom: 200px;
  left: 720px;
  animation: move_1 ease-in 1000ms;

}

.cloud_46 {
  @extend %link;
  bottom: 270px;
  left: 735px;
  animation: move_2 ease-in 2000ms;

}

.cloud_47 {
  @extend %link;
  bottom: 250px;
  left: 750px;
  animation: move_3 ease-in 1500ms;

}

.cloud_48 {
  @extend %link;
  bottom: 21px;
  left: 765px;
  animation: move_1 ease-in 3000ms;

}

.cloud_49 {
  @extend %link;
  bottom: 250px;
  left: 780px;
  animation: move_2 ease-in 1000ms;

}

.cloud_50 {
  @extend %link;
  bottom: 75px;
  left: 790px;
  animation: move_3 ease-in 5000ms;

}

.cloud_51 {
  @extend %link;
  bottom: 300px;
  left: 905px;
  animation: move_1 ease-in 1500ms;

}

.cloud_52 {
  @extend %link;
  bottom: 250px;
  left: 920px;
  animation: move_2 ease-in 3000ms;

}

.cloud_53 {
  @extend %link;
  bottom: 200px;
  left: 935px;
  animation: move_3 ease-in 1000ms;
}



%link {
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  background: hsla(332, 53%, 82%, 1);

  background: linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);


  scale: (1);
  opacity: 1;

}

//animation

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_3 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 250px;
    left: 30px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_4 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 100px;
    left: 45px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_5 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    top: 90px;
    left: 50%;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_6 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 215px;
    left: 75px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_7 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 300px;
    left: 90px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_8 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 250px;
    left: 105px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_9 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 250px;
    left: 150px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_10 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 300px;
    left: 135px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_11 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 250px;
    left: 150px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_12 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    left: 165px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_13 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    left: 180px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_14 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 270px;
    left: 195px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_15 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 250px;
    left: 210px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_16 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 75px;
    left: 235px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_17 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 250px;
    left: 250px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_18 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 215px;
    left: 275px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_19 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 300px;
    left: 290px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_1 {
  0% {
    top: 0;
    scale: (1);
  }

  20% {
    top: 300px;
    scale: (1);
  }

  50% {
    bottom: 200px;
    scale: (2);
  }

  100% {
    top: 90px;
    left: 50%;
  }
}