.sky {
  z-index: 975;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  position: relative;
  min-height: 700px;
}


.cloud_1 {
  @extend %link;
  bottom: 200px;
  left: 0px;
  animation: move_1 ease-in 1000ms;

}

.cloud_2 {
  @extend %link;
  bottom: 2700px;
  left: 15px;
  animation: move_1 ease-in 2000ms;

}

.cloud_3 {
  @extend %link;
  bottom: 250px;
  left: 30px;
  animation: move_1 ease-in 1500ms;

}

.cloud_4 {
  @extend %link;
  bottom: 21px;
  left: 45px;
  animation: move_1 ease-in 3000ms;

}

.cloud_5 {
  @extend %link;
  bottom: 250px;
  left: 60px;
  animation: move_1 ease-in 1000ms;

}

.cloud_6 {
  @extend %link;
  bottom: 215px;
  left: 75px;
  animation: move_1 ease-in 5000ms;

}

.cloud_7 {
  @extend %link;
  bottom: 300px;
  left: 90px;
  animation: move_1 ease-in 1500ms;

}

.cloud_8 {
  @extend %link;
  bottom: 250px;
  left: 105px;
  animation: move_1 ease-in 3000ms;

}

.cloud_9 {
  @extend %link;
  bottom: 200px;
  left: 120px;
  animation: move_1 ease-in 1000ms;
}

.cloud_10 {
  @extend %link;
  bottom: 300px;
  left: 135px;
  animation: move_1 ease-in 7000ms;

}

.cloud_11 {
  @extend %link;
  bottom: 250px;
  left: 150px;
  animation: move_1 ease-in 1500ms;

}

.cloud_12 {
  @extend %link;
  bottom: 200px;
  left: 165px;
  animation: move_1 ease-in 3000ms;

}

.cloud_1 {
  @extend %link;
  bottom: 200px;
  left: 0px;
  animation: move_1 ease-in 1000ms;

}

.cloud_2 {
  @extend %link;
  bottom: 2700px;
  left: 15px;
  animation: move_1 ease-in 2000ms;

}

.cloud_3 {
  @extend %link;
  bottom: 250px;
  left: 30px;
  animation: move_1 ease-in 1500ms;

}

.cloud_4 {
  @extend %link;
  bottom: 21px;
  left: 45px;
  animation: move_1 ease-in 3000ms;

}

.cloud_5 {
  @extend %link;
  bottom: 250px;
  left: 60px;
  animation: move_1 ease-in 1000ms;

}

.cloud_6 {
  @extend %link;
  bottom: 215px;
  left: 75px;
  animation: move_1 ease-in 5000ms;

}

.cloud_7 {
  @extend %link;
  bottom: 300px;
  left: 90px;
  animation: move_1 ease-in 1500ms;

}

.cloud_8 {
  @extend %link;
  bottom: 250px;
  left: 105px;
  animation: move_1 ease-in 3000ms;

}

.cloud_9 {
  @extend %link;
  bottom: 200px;
  left: 120px;
  animation: move_1 ease-in 1000ms;
}

.cloud_10 {
  @extend %link;
  bottom: 300px;
  left: 135px;
  animation: move_1 ease-in 7000ms;

}

.cloud_11 {
  @extend %link;
  bottom: 250px;
  left: 150px;
  animation: move_1 ease-in 1500ms;

}

.cloud_12 {
  @extend %link;
  bottom: 200px;
  left: 165px;
  animation: move_1 ease-in 3000ms;

}



%link {
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  background: rgb(232, 254, 255);
  background: radial-gradient(circle, rgba(232, 254, 255, 1) 0%, rgba(237, 240, 245, 1) 100%);
  scale: (1);
  opacity: 1;
  
}

@keyframes move_1 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 300px;
    scale: (1);
  }

  100% {
    bottom: 200px;
    scale: (2);
  }
}

/* @keyframes move_2 {
  0% {
    right: -100px;
    scale: (1.5);
  }

  50% {
    right: 500px;
    scale: (1);
  }

  100% {
    right: -100px;
    scale: (1.5);
  }
}  */