.hero {
  margin: 0 auto;
  padding: 190px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: absolute;
  top:79%;


  &__overlay {
    position: relative;
    width: 45vw;
    height: 50vh;
    margin: 90px auto 30px;
    box-shadow: 8px -6px 16px -2px black;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      margin: 150px auto 30px;
    }

    @media screen and (min-width: 1200px) {
      margin: 150px auto 30px;
    }
  }

  &__img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: auto;
  }


  &__overlay1 {
    position: relative;
    width: 50vw;
    height: 50vh;
    max-height: 300px;
    margin: 90px auto 90px;
    box-shadow: 8px -6px 16px -2px black;
    display: flex;
    justify-content: center;


    @media screen and (min-width: 768px) {
      margin: 50px auto 90px;
    }

    @media screen and (min-width: 1200px) {
      margin: 50px auto 90px;
    }
  }

  &__img1 {
    width: 70%;
    height: 90%;
    object-fit: contain;
    margin: auto;
  }



  &__text {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.05em;
    color: #070401cc;
    padding: 0 35px;
    text-align: center;
    width: 90vw;
    margin: 0 auto 10px;
    
    @media screen and (min-width: 768px) {
      font-size: 23px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 31px;
      margin: 0 auto 0;
    }
  }

  &__title {
    font-family: "Pacifico", cursive;
    font-size: 65px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: rgb(14, 10, 59);
    animation: color 3s linear infinite 4s;
    margin: 70px 0;
  

    @media screen and (max-width: 800px) {
      font-size: 39px;
    }

    @media screen and (max-width: 500px) {
      font-size: 30px;
      right: 15%;
    }
}
}

@keyframes animate {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0.9;

  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}