.hero {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 700px;
  height: 100%;
  text-align: center;

  @media screen and (max-width: 800px) {
    width: 200px;
  }

  &__title_cover {
    position: absolute;
    top: 20%;
    right: 25%;
    font-family: "Pacifico", cursive;
    font-size: 65px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: rgb(45, 31, 202);
    animation: color 500ms linear infinite;
  

    @media screen and (max-width: 800px) {
      font-size: 39px;
    }

    @media screen and (max-width: 500px) {
      font-size: 30px;
      right: 15%;
    }
  }
 
  &__title {
    animation: color 3000ms infinite;
  }
 

  &__text_cover {
    position: absolute;
    top: 40%;
    right: 5%;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: rgb(45, 31, 202);

    @media screen and (max-width: 800px) {
      font-size: 30px;
      top: 30%;
    }
  }

  &__text {
    animation: color 3000ms infinite;
  }

  &__cover_link {
    position: absolute;
    top: 87%;
    right: 5%;
    z-index: 77;
    text-align: start;
    list-style: disc;
    padding: 0 30px;
    font-weight: 700;
    font-size: 33px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color:#ccfa00;

    @media screen and (max-width: 900px) {
      top: 63%;
      font-size: 21px;
    }

    &:hover,
    &:focus {
      color: #E59560;
      font-size: 33px;
    }
  }
}


@keyframes color {
  0% {
    color: rgb(45, 31, 202);
  }
  50% {
    color: #0051ff;
  }
  100% {
    color: #fffc00;
  }
}