.hero {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 700px;
  height: 100%;
  text-align: center;

  @media screen and (max-width: 800px) {
    width: 200px;
  }

  &__title_cover {
    position: absolute;
    top: 20%;
    right: 35%;
    font-family: "Pacifico", cursive;
    font-size: 65px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #7a92d4;
   /*  animation: color cubic-bezier(0.95, 0.05, 0.795, 0.035) linear infinite 4s;
   */

    @media screen and (max-width: 800px) {
      font-size: 39px;
      right: 25%;
    }

    @media screen and (max-width: 500px) {
      font-size: 30px;
      right: 15%;
    }
  }
 
  &__title {
   /*  animation: color 4s infinite 4s; */
  }
 

  &__text_cover1 {
    position: absolute;
    top: 40%;
    right: 15%;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: rgb(172, 177, 75);

    @media screen and (max-width: 800px) {
      font-size: 30px;
      top: 30%;
      right: 5%;
    }
  }

  &__text_cover2 {
    position: absolute;
    top: 65%;
    right: 15%;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: rgb(45, 31, 202);

    @media screen and (max-width: 800px) {
      font-size: 30px;
      top: 30%;
      right: 5%;
    }
  }

  &__text {
   /*  animation: color 4s infinite 4s; */
  }

  &__cover_link {
    position: absolute;
    top: 90%;
    right: 5%;
    z-index: 77;
    text-align: start;
    list-style: disc;
    padding: 0 30px;
    font-weight: 700;
    font-size: 33px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color:#ccfa00;
    

    @media screen and (max-width: 900px) {
      font-size: 21px;
    }


    &:hover,
    &:focus {
      color: #E59560;
      font-size: 33px;
    }
  }
}


@keyframes color {
  0% {
    color: rgb(45, 31, 202);
  }
  50% {
    color: #727ea0;
  }
  100% {
    color: #fffc00;
  }
}