.neclace {
 /*  height: 100%; */
  width: 50%;
  min-height: 900px;
  margin: -10px 100px;
  position: relative;
  

  @media screen and (max-width: 500px) {
    margin: -20px 30px;
    width: 70%;
  }

  @media screen and (min-width: 900px) {
    margin: -10px 100px;
    width: 40%;
    padding: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin: 10px 210px;
    padding: 50px;
    width: 30%;
  }

}

.cloud_1 {
  @extend %link;
  top: 90px;
  left: 50%;
  animation: neclece_1 3s linear, shine 3s linear infinite;
}

.cloud_2 {
  @extend %link;
  top: 120px;
  left: 61%;
  animation: neclece_2 ease-in 2s, shine 3s linear infinite;
}

.cloud_3 {
  @extend %link;
  top: 157px;
  left: 70%;
  animation: neclece_3 ease-in 1s, shine 3s linear infinite;
}



.cloud_5 {
  @extend %link;
  top: 117px;
  left: 38%;
  animation: neclece_5 ease-in 1s, shine 3s linear infinite;
}

.cloud_6 {
  @extend %link;
  top: 196px;
  left: 79%;
  animation: neclece_6 ease-in 5s, shine 3s linear infinite;
}

.cloud_7 {
  @extend %link;
  top: 155px;
  left: 29%;
  animation: neclece_7 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_8 {
  @extend %link;
  top: 244px;
  left: 84%;
  animation: neclece_8 ease-in 3s, shine 3s linear infinite;
}

.cloud_9 {
  @extend %link;
  top: 193px;
  left: 21%;
  animation: neclece_9 ease-in 1s, shine 3s linear infinite;
}

.cloud_10 {
  @extend %link;
  top: 292px;
  left: 87%;
  animation: neclece_10 ease-in 5s, shine 3s linear infinite;
}

.cloud_11 {
  @extend %link;
  top: 235px;
  left: 16%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_12 {
  @extend %link;
  top: 339px;
  left: 88%;
  animation: neclece_12 ease-in 3s, shine 3s linear infinite;
}

.cloud_13 {
  @extend %link;
  top: 280px;
  left: 12%;
  animation: neclece_13 ease-in 1s, shine 3s linear infinite;
}

.cloud_15 {
  @extend %link;
  top: 327px;
  left: 11%;
  animation: neclece_15 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_16 {
  @extend %link;
  top: 388px;
  left: 86%;
  animation: neclece_16 ease-in 3s, shine 3s linear infinite;
}

.cloud_18 {
  @extend %link;
  top: 429px;
  left: 80%;
  animation: neclece_18 ease-in 5s, shine 3s linear infinite;
}

.cloud_19 {
  @extend %link;
  top: 377px;
  left: 10%;
  animation: neclece_19 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_20 {
  @extend %link;
  top: 465px;
  left: 72%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_21 {
  @extend %link;
  top: 420px;
  left: 16%;
  animation: neclece_21 ease-in 1s, shine 3s linear infinite;
}

.cloud_22 {
  @extend %link;
  top: 493px;
  left: 61%;
  animation: neclece_22 ease-in 5s, shine 3s linear infinite;
}

.cloud_23 {
  @extend %link;
  top: 463px;
  left: 23%;
  animation: neclece_23 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_24 {
  @extend %link;
  top: 510px;
  left: 49%;
  animation: neclece_24 ease-in 3s, shine 3s linear infinite;
}

.cloud_25 {
  @extend %link;
  top: 497px;
  left: 35%;
  animation: neclece_25 ease-in 1s, shine 3s linear infinite;
}


// big

.cloud_26 {
  @extend %link;
  top: 40px;
  left: 50%;
  animation: neclece_1 5s linear, shine 3s linear infinite;
}

.cloud_27 {
  @extend %link;
  top: 65px;
  left: 35%;
  animation: neclece_2 ease-in 2s, shine 3s linear infinite;
}

.cloud_28 {
  @extend %link;
  top: 65px;
  left: 65%;
  animation: neclece_3 ease-in 3s, shine 3s linear infinite;
}

.cloud_29 {
  @extend %link;
  top: 100px;
  left: 23%;
  animation: neclece_4 ease-in 5s, shine 3s linear infinite;
}

.cloud_30 {
  @extend %link;
  top: 101px;
  left: 78%;
  animation: neclece_5 ease-in 5s, shine 3s linear infinite;
}

.cloud_31 {
  @extend %link;
  top: 140px;
  left: 12%;
  animation: neclece_6 ease-in 3s, shine 3s linear infinite;
}

.cloud_32 {
  @extend %link;
  top: 140px;
  left: 87%;
  animation: neclece_7 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_33 {
  @extend %link;
  top: 187px;
  left: 6%;
  animation: neclece_8 ease-in 5s, shine 3s linear infinite;
}

.cloud_34 {
  @extend %link;
  top: 180px;
  left: 95%;
  animation: neclece_9 ease-in 1s, shine 3s linear infinite;
}

.cloud_35 {
  @extend %link;
  top: 230px;
  left: 0%;
  animation: neclece_10 ease-in 7s, shine 3s linear infinite;
}

.cloud_36 {
  @extend %link;
  top: 225px;
  left: 101%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_37 {
  @extend %link;
  top: 277px;
  left: -5%;
  animation: neclece_12 ease-in 3s, shine 3s linear infinite;
}

.cloud_38 {
  @extend %link;
  top: 267px;
  left: 105%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_39 {
  @extend %link;
  top: 320px;
  left: -8%;
  animation: neclece_14 ease-in 2s, shine 3s linear infinite;
}

.cloud_40 {
  @extend %link;
  top: 310px;
  left: 110%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_41 {
  @extend %link;
  top: 365px;
  left: -10%;
  animation: neclece_16 ease-in 3s, shine 3s linear infinite;
}

.cloud_42 {
  @extend %link;
  top: 355px;
  left: 113%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_43 {
  @extend %link;
  top: 410px;
  left: -12%;
  animation: neclece_18 ease-in 5s, shine 3s linear infinite;
}

.cloud_44 {
  @extend %link;
  top: 400px;
  left: 114%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_45 {
  @extend %link;
  top: 455px;
  left: -12%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_46 {
  @extend %link;
  top: 445px;
  left: 114%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_47 {
  @extend %link;
  top: 500px;
  left: -12%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_48 {
  @extend %link;
  top: 490px;
  left: 114%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_49 {
  @extend %link;
  top: 547px;
  left: -10%;
  animation: neclece_20 ease-in 3, shine 3s linear infinite;
}

.cloud_50 {
  @extend %link;
  top: 540px;
  left: 114%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_51 {
  @extend %link;
  top: 593px;
  left: -5%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_50 {
  @extend %link;
  top: 535px;
  left: 112%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_52 {
  @extend %link;
  top: 580px;
  left: 108%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_53 {
  @extend %link;
  top: 632px;
  left: 4%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_54 {
  @extend %link;
  top: 622px;
  left: 100%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_55 {
  @extend %link;
  top: 662px;
  left: 14%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_56 {
  @extend %link;
  top: 660px;
  left: 91%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_57 {
  @extend %link;
  top: 683px;
  left: 27%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_58 {
  @extend %link;
  top: 689px;
  left: 81%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}

.cloud_59 {
  @extend %link;
  top: 697px;
  left: 40%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}

.cloud_60 {
  @extend %link;
  top: 698px;
  left: 67%;
  animation: neclece_11 ease-in 1500ms, shine 3s linear infinite;
}


.cloud_61 {
  @extend %link;
  top: 705px;
  left: 53%;
  animation: neclece_20 ease-in 3s, shine 3s linear infinite;
}


%link {
  display: block;
  position: absolute;
  border-radius: 50px;
  border: 1px transparent;
  width: 50px;
  height: 50px;
  background: rgb(252, 252, 252);
  background: linear-gradient(70deg, rgb(252, 252, 252) 0%, rgb(155 110 87) 100%);;
  -webkit-mask-size: 200%;

  @media screen and (min-width: 700px) {
    width: 59px;
    height: 59px;
  }

}

//animation

@keyframes neclece_1 {
  0% {
    top: 0;
  }

  50% {
    top: 750px;
    left: 0%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_2 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 550px;
    left: 20%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_3 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 750px;
    left: 40%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_4 {
  0% {
    top: 0;
    opacity: 1;
  }


  50% {
    top: 500px;
    left: 60%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_5 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 750px;
    left: 80%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_6 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 550px;
    left: 100%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_7 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 650px;
    left: 20%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_8 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 750px;
    left: 45%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_9 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 700px;
    left: 60%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_10 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 750px;
    left: 80%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_11 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 570px;
    left: 20%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_12 {
  0% {
    top: 0;
    opacity: 1;
  }


  50% {
    top: 650px;
    left: 25%;
    opacity: 1;
  }

  100% {
    top: 90px;
    left: 50%;
    opacity: 1;
  }
}

@keyframes neclece_13 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 24%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_14 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 450px;
    left: 26%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_15 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 810px;
    left: 28%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_16 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 30%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_17 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 810px;
    left: 32%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_18 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 700px;
    left: 32%;

  }

  100% {
    top: 90px;

  }
}

@keyframes neclece_19 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 810px;
    left: 70%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_20 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 38%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_21 {
  0% {
    top: 0;
    display: none;
  }


  50% {
    top: 570px;
    left: 20%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_22 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 12%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_23 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 700px;
    left: 27%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_24 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 390px;
    left: 16%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_25 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 700px;
    left: 90%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_26 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 100%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_27 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 87%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_28 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 350px;
    left: 12%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_29 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 700px;
    left: 40%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_30 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 56%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_31 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 350px;
    left: 18%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_37 {
  0% {
    top: 0;
    display: none;
  }

  50% {
    top: 750px;
    left: 30%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_38 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }


  50% {
    top: 550px;
    left: 32%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_39 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 700px;
    left: 14%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_40 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 390px;
    left: 60%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_41 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 550px;
    left: 75%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}


@keyframes neclece_42 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 750px;
    left: 30%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_43 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 550px;
    left: 20%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_44 {
  0% {
    top: 0;
    scale: (1);
    display: none;
  }

  50% {
    top: 450px;
    left: 50%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_45 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 750px;
    left: 60%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_46 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 700px;
    left: 80%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_47 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 390px;
    left: 97%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_48 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 500px;
    left: 80%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_49 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 750px;
    left: 12%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_50 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 500px;
    left: 14%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_51 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 750px;
    left: 30%;
  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_52 {
  0% {
    top: 0;
    scale: (1);
  }

  50% {
    top: 350px;
    left: 92%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes neclece_53 {
  0% {
    top: 0;
    scale: (1);
  }


  50% {
    top: 750px;
    left: 93%;

  }

  100% {
    top: 90px;
    left: 50%;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}